dist-newstyle/
dist/
Dockerfile*
cabal.project.local*
.github/
.gitmodules
.tags
TAGS
hie.yaml
submodules/*/.git/
submodules/*/.github/
submodules/*/.gitmodules
submodules/*/dist-newstyle/
submodules/*/.tags
submodules/*/TAGS
submodules/*/hie.yaml
submodules/*/*/hie.yaml
submodules/*/cabal.project
submodules/macaw/deps/
submodules/crucible/dependencies/
