cabal.project
cabal.project.local
cabal.project.freeze
dist-newstyle
dist-newstyle/
dist-profile/
*.i
/docs/user-manual/auto/
/docs/user-manual/user-manual.aux
/docs/user-manual/user-manual.fdb_latexmk
/docs/user-manual/user-manual.fls
/docs/user-manual/user-manual.log
/docs/user-manual/user-manual.toc
*.cfg
*.o
*.s
*.dump
*.local
*.log
*.hi
