packages: .
          submodules/llvm-pretty
          submodules/parameterized-utils
          submodules/what4/what4
          submodules/what4-serialize
          submodules/crucible/crucible
          submodules/crucible/crucible-symio
          submodules/crucible/crucible-llvm
          submodules/arm-asl-parser
          submodules/asl-translator
          submodules/elf-edit
          submodules/dwarf
          submodules/demangler
          submodules/flexdis86
          submodules/flexdis86/binary-symbols
          submodules/dismantle/dismantle-tablegen
          submodules/dismantle/dismantle-ppc
          submodules/dismantle/dismantle-arm-xml
          submodules/semmc/semmc
          submodules/semmc/semmc-ppc
          submodules/semmc/semmc-aarch32
          submodules/semmc/semmc-synthesis
          submodules/semmc/semmc-learning
          submodules/macaw/base
          submodules/macaw/x86
          submodules/macaw/x86_symbolic
          submodules/macaw/symbolic
          submodules/macaw/macaw-semmc
          submodules/macaw/macaw-ppc
          submodules/macaw/macaw-ppc-symbolic
          submodules/macaw/macaw-aarch32
          submodules/macaw/macaw-aarch32-symbolic
          submodules/macaw-loader/macaw-loader
          submodules/macaw-loader/macaw-loader-x86
          submodules/macaw-loader/macaw-loader-ppc
          submodules/macaw-loader/macaw-loader-aarch32

allow-newer: what4, IntervalMap, aeson, tasty
constraints: IntervalMap >= 0.6.2.1