.sat-equivalent {
    color: green;
}

.sat-indeterminate {
    color: magenta;
}

.sat-inequivalent {
    color: red;
}

.basic-block {
    border-style: solid;
    margin-bottom: 10px;
}

.source-listing {
    padding: 10px;
}
